<div class = "root_body">
	
	<div id = "root_tabs">
		<ul>
			
			<li>
				<a rel = "root">Main</a>
			</li>
			
			<li>
				<a class = "room-channel" data-room-id = "1" rel = "chat">Chat</a>
			</li>
			
			<li>
				<a class = "article-chennal" data-article-id = "1" rel = "news">News</a>
			</li>
			
			<li>
				<a rel = "project">Projects</a>
			</li>

		</ul>	
	</div>

	<div id = "tab">
		<div class = "tabs" name="root">
			<%= render 'header/root' %>
		</div>

		<div class = "tabs" name="chat">
			<%= render 'header/chat' %>
		</div>
		
		<div class = "tabs" name="news">
			<%= render 'header/news' %>
		</div>
		
		<div class = "tabs" name="project">
			<%= render 'header/project' %>
		</div>
	</div>

</div>
