<header class = "header">
	<div class = "image">
		<div class="av"></div>
		<div class = "container">
			<a class="rootlink" href="/">SSCF</a>
			<div class="cont_w"> - it's our future and our community</div>
		</div>
		<div class= "cont_about">
			<a class="about" href="/">Information</a>
		</div>
	</div>
</header>

<div class = "d"></div>