<header class="header">
	<div class="image">

		<% if current_user %>
		
			<div class="h_cur">
				<div><%= image_tag(current_profile.avatar) %></div>
				<span><%= current_profile.name %></span>
			</div>

			<div id = "h_menu">
				<%= render 'header/user_menu' %>
			</div>

		<% else %>

			<div>
				<button id="sign_in">Sign in</button>
				<div id="cont_sign">
							<%= render 'sessions/sign_in' %>
				</div>
			</div>

		<% end %>

		<div class="container">
			<a class="rootlink" onclick="location.href = '/'" href="/">SSCF</a>
			<!-- <div class="cont_w"> - it's our future and our community</div> -->
		</div>

		<div class="cont_about">
			<div class="ab_m"><a class="about">Information</a>

					<ul id="navbar">
						<li><a href="#">О нас</a></li>
						<li><a href="#">Документация</a></li>
					</ul>

			</div>
		</div>
	</div>
</header>

<div class = "d"></div>
