<header class="header">
	<div class="image">
			<div>
				<button id="sign_in">Sign in</button>

				<div id="cont_sign">
					<div class = 'mod_hw' ref="proc_1">

						<div class = 'mod_sign'>
							<%= render 'sessions/sign_in' %>
						</div>

					</div>	
				</div>

			</div>

		<div class="container">
			<a class="rootlink" onclick="location.href = '/'" href="/">SSCF</a>
			<div class="cont_w"> - it's our future and our community</div>
		</div>

		<div class="cont_about">
			<div class="ab_m"><a class="about">Information</a>

					<ul id="navbar">
						<li><a href="#">О нас</a></li>
						<li><a href="#">Документация</a></li>
					</ul>

			</div>
		</div>
	</div>
</header>

<div class = "d"></div>
