<div>
	<img src="/assets/user1" title="Profile" onclick="document.location = '/users/<%= current_user.id%>/profiles/<%= current_user.id%>'">
</div>

<div>
	<img src="/assets/for_messages" title="Messages" onclick="document.location = '/conversations'">
</div>

<div>
	<img src="/assets/for_news3_1.png" title="News" onclick='document.cookie = "render = news;path=/";document.location = "/"'>
</div>

<div>
	<img src="/assets/for_project2" title="Projects" onclick='document.cookie = "render = project;path=/";document.location = "/"'>
</div>

<div>
	<img src="/assets/for_chat5_2" title="Chat" onclick='document.cookie = "render = chat;path=/";document.location = "/"'>
</div>

<div>
	<img src="/assets/for_profile2_5" title="Settings" onclick="document.location = '/users/<%= current_user.id%>/profiles/<%= current_user.id %>/edit'" >
</div>

<div>
	<img src="/assets/for_exit2_1" title="Exit" onclick="document.location = '/sign_out'">
</div>
