#profile {
	width: 99.3%;
	background: #f0ef72;
	position: absolute;
	border-radius: 20px;
	left: 5px;
}

#user_inf {
	margin-left: 150px;
	width: 85%;
	height: 300px;
	margin-top: 50px;
	border-radius: 10px;
	position: relative;
}

#user_avatar {
	padding: 10px;
	position: absolute;
}

#user_avatar img {
	width: 230px;
	height: 230px;
	border-radius: 30px;
	border: 5px solid #f04b4bb3;
	display: inherit;
}

#user_avatar button {
	margin-top: 7px;
	margin-left: 40px;
	width: 170px;
	height: 40px;
}

#all_inf {
	height: 250px;
	width: 450px;
	background: #ecececb3;
	/*margin-top: -300px;*/
	margin-left: 310px;
	border: 2px double #898989;
	border-radius: 10px;
	position: absolute;
}

#all_inf ul {
	font-size: 19px;
	margin-top: 0;
	text-align: justify;
}

#all_inf ul li {
	margin-bottom: 5px;
}

#anon_mes {
	height: 250px;
	width: 40%;
	/*margin-top: -254px;*/
	margin-left: 850px;
	border: 2px double #898989;
	border-radius: 15px;
	background: #ecececb3;
	position: absolute;
}

#anon_mes h2 {
	margin-bottom: 10px;
}

#user_photos {
	margin-left: 150px;
	margin-top: 50px;
	width: 81.4%;
	height: 270px;
	background: #d77171;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	padding-top: 15px;
}

.padd15 {
	padding-left: 15px;
}

.scroll {
	overflow-y: scroll;
	height: 165px;
	padding-right: 8px;
}

#all_photos {
	position: relative;
}

#all_photos span {
	margin-left: 30px;
	font-size: 20px;
	position: absolute;
}

#upload_photo {
	width: 150px;
	margin-left: 22px;
	margin-top: 50px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 100%;
	display: inline;
}

#upload_photo:active {
	border: 1px solid #4cb6ac;
}

#photo_mod {
	width: 500px;
	background: #e9e9e9;
	margin-left: 34%;
	margin-top: 200px;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mod_photo_head {
	padding: 10px;
	background: #316eff;
	color: #efeded;
	border-radius: 14px 14px 0 0;
	font-size: 17px;
}

#photo_form {
	padding: 15px;
}

#photo_form input {
	margin-bottom: 10px;
	font-size: 17px;
	height: 36px;
	display: inherit;
}

#photo_submit {
	width: 110px;
	padding: 10px;
	background: #316eff;
	border-radius: 8px;
	color: #b4b4b4;
	cursor: default;
}

#photos {
	margin-left: 200px;
	position: absolute;
	height: 264px;
	width: 80%;
	display: inline;
	overflow-x: scroll;
	white-space: nowrap;
}

.photo {
	display: inline;
	margin-right: 20px;
}

.show_photo {
	width: 240px;
	height: 240px;
	border: 5px solid #c65050;
	border-radius: 10px;
}

.uploading_photo {
	width:100px;
	height:100px;
}

.delete_photo {
	width: 40px;
	height: 40px;
	border: 0;
	border-radius: 100%;
	position: absolute;
	margin-left: 225px;
	background: black;
	cursor: pointer;
}

#for_adding_photo {
	position: absolute;
}

#your_page {
	font-size: 19px;
	padding: 10px 50px 10px;
	margin-top: 7px;
	background: #d77171;
	margin-top: 7px;
	position: absolute;
	border-radius: 5px;
	color: #5b0072;
}

.photo_mod_hw {
	display: none;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0;
	position: fixed;
	background-color: rgba(0,0,0,0.4);
	z-index: 1;
}

#user_news {
	margin-left: 150px;
	width: 80%;
	margin-top: 100px;
	padding-bottom: 100px;
}

#all_anon_mess {
	height: 130px;
	overflow-y: scroll;
}

.anon_message {
	padding: 10px;
	background: gainsboro;
	margin-bottom: 5px;
}

#anon_message_form form textarea{
	height: 46px;
	width: 549px;
	font-size: 16px;
}

#anon_message_form img {
	width: 40px;
	height: 40px;
	transform: rotate(90deg);
	border-radius: 100%;
	background: #bad1da;
	margin-left: 8px;
}

#anon_message_form img:active {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.delete_anon_message {
	display: inline;
	margin-right: 10px;
}

.anon_body {
	display: inline;
}

#edit_lnk {
	position: absolute;
	margin-top: 30px;
	padding: 10px 50px 10px;
	background: #d77171;
	color: #5b0072;
	text-decoration: none;
	border-radius: 5px;
	font-size: 19px;
}
